/***********************helper start***************************/
.fl{float:left;}
.fr{float:right;}
.small{font-size:10px;background-color: crimson;color:#eee;}
.gray{color:#999;}
.matches{border-left: 3px solid #28a54c; padding-left:9px;}
.highlight{color:crimson;}
.init{overflow: visible !important; text-overflow: clip !important; white-space: normal !important;}
.wishes{background-color:aliceblue;}
/***********************helper end*****************************/

/**************fix ionic start******************/
.flex-wrap{
    flex-wrap: wrap;
}
.no-padding{
    padding: 0 !important;
}
.full-card{
    margin: 20px 0;
}
.relative{
    position: relative;
}
.beyond-head{
    margin-top:50px;
}
#jgg > div{
    border: 1px solid #f6f6f6;
}
/**************fix ionic end******************/

/**************ui ionic start******************/
.imax{
    height:150px;
    background-color: #28a54c;
    position: relative;
}
.imax .imax-inwrap{
    position: absolute;
    left: 50px;
    bottom: 25px;
}
.imax .goorin{
    color: #f6f6f6;
    text-align: center;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
}
.imax .hide-world{
    color: #f6f6f6;
}
/**************ui ionic end******************/
