<ion-view view-title="关于我们-乐柏健康" cache-view="false">
  <ion-header-bar class="bar-balanced">
    <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
    <h1 class="title">关于我们-乐柏健康</h1>
  </ion-header-bar>
  <ion-content has-bouncing="true" class="padding">
    <pre>
&nbsp;&nbsp;&nbsp;乐柏健康平台是由北京医康世纪科技有限公司搭建的专业的心血管病医患服务平台，致力于心血管疾病人群提供疾病知识、健康管理、家用医疗设备和医疗服务。帮助患者了解疾病知识，做好疾病管理，改善症状，预防疾病进一步发展，乐享移动医疗时代的便捷服务。平台通过文章、漫画、动画等多种形式为患者提供专业心的血管病知识及护理建议；根据患者病情提供健康管理方案，记录体征，评估病情变化；为医生患者建立在线平台，方便医患随时在线交流，医生公告随时知晓；覆盖乐普高端医院资源，帮助解决患者挂号、预约床位问题。平台提供专业家用医疗设备，帮助患者节约医疗开支，让患者省心，让家人放心。

&nbsp;&nbsp;&nbsp;北京医康世纪科技有限公司（医康世纪）为乐普（北京）医疗器械股份有限公司和其核心管理团队共同投资的一家移动互联网创业公司，专业从事心血管和糖尿病可穿戴医疗设备的研发、销售和服务，包括移动心电图、便携式手机血糖仪及血糖试纸、移动心脏标志物检测平台及其相应配套试纸，以及建立在此基础上的心血管和糖尿病健康管理服务和增值服务，是乐普医疗为进入移动医疗领域的重要战略布局。
    </pre>


  </ion-content>
</ion-view>
