<ion-view view-title="修改头像" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">修改头像</h1>
        <button class="button">确认修改</button>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="padding">
        <form id='publish' enctype="multipart/form-data" method="post" name="pubilshdiscover">
            <input id="publishphoto"
                   type="file"
                   accept="image/*"
                   multiple
                   image="publishphoto"
                   class="inputfile button-balanced"
                    />
            <label for="publishphoto"></label>
            <button class="button button-block button-balanced" type="submit" form="publish" ng-click="saveMsg(publishphoto)">点击上传预览图片</button>
            <img ng-repeat="img in publishphoto" title="{{img.url}}" ng-src="{{img.url}}" type="{{img.file.type}}"/>
        </form>
    </ion-content>
</ion-view>