<ion-view view-title="修改生日-乐柏健康" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <a class="button icon ion-chevron-left" href="/#/personal"></a>
        <h1 class="title">修改生日</h1>
        <button class="button" ng-click="saveMsg()">确认修改</button>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="padding">
        <input ng-model="patientData.birthday" hidden>
        <ionic-datepicker input-obj="datepickerObject">
            <button class="button button-balanced button-block">点击选取生日</button>
        </ionic-datepicker>
    </ion-content>
</ion-view>
