<ion-view view-title="修改性别" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">修改性别</h1>
        <button class="button" ng-click="saveMsg()">确认修改</button>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="padding">
        <ion-list>
            <ion-radio ng-model="patientData.agender" ng-value="'1'">男</ion-radio>
            <ion-radio ng-model="patientData.agender" ng-value="'2'">女</ion-radio>
        </ion-list>
    </ion-content>
</ion-view>