<ion-view view-title="我的收藏" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">我的收藏</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <ion-list can-swipe="true">
            <ion-item class="list card">
                <h2>养生原则</h2>
                <div class="item item-image">
                    <img src="images/1.jpg"/>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-thumbsup"></i>
                        发布时间
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-chatbox"></i>
                        评论数
                    </a>
                </div>
                <ion-option-button class="button-assertive" ng-click="delete(item)">
                    删除
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>