<ion-view view-title="发现">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="mcfly.jpg">
                <h2>张美丽</h2>
            </div>

            <div class="item item-body">
                <p>
                  今天天气好风光处处好晴朗，好晴朗.
                </p>
                <img class="full-image" src="delorean.jpg">
                <p>
                    <a href="#" class="subdued">5 分钟前</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <!--<i class="icon ion-thumbsup"></i>-->
                    <!--Like-->
                </a>
                <a class="tab-item" href="#">
                    <!--<i class="icon ion-chatbox"></i>-->
                    <!--Comment-->
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>