<ion-view view-title="发现" cache-view='false' hide-nav-bar="isNavBarHide">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">发现</h1>
        <!--#/publishdiscover-->
        <button class="button" ng-click="fk1()">发表</button>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div class="list" ng-repeat="item in data | limitTo:5">
            <a class="card" ng-click="fk(item.id)" style="text-decoration: none;">
                <div class="item item-avatar">
                    <img ng-src={{item.profileImageUrl}}>
                    <h2>{{item.name}}</h2>
                    <p class="mtb10">{{item.content}}</p>
                    <div class="main-wrap">
                        <img class="img-responsive ng-class:{'col25':(item.imageList.length>1)}" ng-src={{imgs.imageUrl}} ng-repeat="imgs in item.imageList">
                    </div>
                    <p class="clearfix mtb10">
                        <span class="fl">{{item.postTime}}</span>
                        <span class="fr">
                            <i class="ion ion-android-chat"></i>
                            <span>{{item.remarkCount}}</span>
                        </span>
                    </p>
                </div>
            </a>
            <div class="slim clearfix"></div>
        </div>
    </ion-content>
</ion-view>