<ion-view view-title="发现详情" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">发现详情</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="padding">
        <div class="list card">
            <div class="item item-avatar">
                <img src="images/tongxiang.png">

                <h2>张美丽</h2>
            </div>

            <div class="item item-body">
                <p>
                    今天天气好风光处处好晴朗，好晴朗.
                </p>
                <img class="full-image" src="images/dabeijing.png">

                <p class="doc_LR">
                    <a href="#" class="subdued">5 分钟前</a>

                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
