<ion-view view-title="发现详情" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">发现详情</h1>
        <button class="button ion ion-plus" ng-click="discoverAdd()"></button>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="padding">
        <div class="list">
            <div class="item item-avatar">
                <img ng-src="{{data.profileImageUrl}}">
                <h2>{{data.name}}</h2>
                <p>{{data.content}}</p>
                <img class="img-responsive" ng-src="{{data.imageList[0].imageUrl}}" alt=""/>
                <p>{{data.postTime}}</p>
            </div>


            <p>评论:({{data.remarkCount}})</p>

            <div class="item item-avatar" ng-repeat="item in data.remarkList">
                <img ng-src="{{item.remarkUserProfile}}">
                <div class='commenter'>
                    <span>{{item.remarkUserName}}</span>
                    <span>{{item.postTime}}</span>
                </div>
                <div class="item-body pad-replate">
                    {{item.remark}}
                </div>
            </div>

            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="我也说两句吧" required ng-model="detailMsg.acomment">
                </label>
                <button class="button button-clear" ng-click="aComment()">
                    发表
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>
