<ion-view view-title="医生列表" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">医生列表</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div class="list card mg" ng-repeat="item in data">
            <a class="item item-avatar" ng-href="#/doctordata/{{item.userId}}">
                <img ng-src={{item.profileImageUrl}}>

                <div>
                    <h2>{{item.hospital}}</h2>

                    <p>
                        <span>{{item.name}}</span>
                        <span> | </span>
                        <span>{{item.department}}</span>
                    </p>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>