<ion-view view-title="医生列表" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">医生列表</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div class="list card">
            <div class="item item-avatar">
                <img src="images/1.jpg">
                <div>
                    <h2>医院名</h2>
                    <p>
                        <span>姓名</span>
                        <span> | </span>
                        <span>科室</span>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>