<ion-view view-title="医生资料" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">医生资料</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <!--巨幕 start-->
        <div class="imax doctorimax">
            <div class="centerfm padding">
                <img ng-src={{data.profileImageUrl}} alt="" width="80" height="80" class="round"/>

                <p>{{data.hospital}} {{data.department}}</p>

                <p>{{data.name}}</p>

                <p>{{data.technicalTitle}}</p>

                <p>{{data.patientCount}}</p>
            </div>
        </div>
        <!--巨幕 end-->
        <ul class="list">
            <li class="item">
                <p>
                    <span>地址:</span>
                    <span>{{data.address}}</span>
                </p>
            </li>
        </ul>

    </ion-content>
    <ion-footer-bar class="bar-balanced">
        <div class="button-bar">
            <a href="" class="button">
                发消息
            </a>
            <a href="" class="button" ng-click="show()">
                解绑
            </a>
        </div>
    </ion-footer-bar>
</ion-view>
