<ion-view view-title="我们能为您做什么？-乐柏健康" cache-view="false">
  <ion-header-bar class="bar-balanced">
    <a class="button icon ion-chevron-left" href="/#/tab/home"></a>
    <h1 class="title">我们能为您做什么？</h1>
  </ion-header-bar>
  <ion-content padding="true">
    <p class="home ng-binding">
      <section class="wx96Diy" data-source="bj.96weixin.com">
        <fieldset style="white-space: normal; margin: 0.5em 0px; padding: 0px; border: 0px currentcolor; color: rgb(68, 68, 68); line-height: 25px; font-family: 微软雅黑; max-width: 100%; background-color: rgb(255, 255, 255); box-sizing: border-box !important;">
          <section style="height: 1em; max-width: 100%; box-sizing: border-box;">
            <section class="96wx-bdtc 96wx-bdlc" style="border-color: rgba(247, 97, 147, 0.972549) rgb(0, 187, 236) rgb(0, 187, 236) rgba(247, 97, 147, 0.972549); width: 1.5em; height: 16px; border-top-width: 0.4em; border-left-width: 0.4em; border-top-style: solid; border-left-style: solid; float: left; max-width: 100%; box-sizing: border-box !important;"></section>
            <section class="96wx-bdtc 96wx-bdrc" style="border-color: rgba(247, 97, 147, 0.972549) rgba(247, 97, 147, 0.972549) rgb(0, 187, 236) rgb(0, 187, 236); width: 1.5em; height: 16px; border-top-width: 0.4em; border-right-width: 0.4em; border-top-style: solid; border-right-style: solid; float: right; max-width: 100%; box-sizing: border-box !important;"></section>
          </section>
          <section class="96wx-bdc" style="margin: -0.8em 0.1em -0.8em 0.2em; padding: 0.8em; border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; border: 1px solid rgba(247, 97, 147, 0.972549); max-width: 100%; box-sizing: border-box;">
            <p style="margin: 0px; padding: 0px; border: currentcolor; text-align: center; line-height: 1.4; font-family: inherit; font-size: 1em; text-decoration: inherit; max-width: 100%; text-indent: 2em; box-sizing: border-box !important; background-image: none;"><span style="font-family: 宋体, SimSun; font-size: 18px; line-height: 32px; text-indent: 37px; color: rgb(0, 0, 0);">“三高”很容易发展为冠心病，而冠心病如果不及时治疗和控制则容易引发心肌梗死，最后发展为心衰。</span></p>
          </section>
          <section style="height: 1em; max-width: 100%; box-sizing: border-box;">
            <section class="96wx-bdbc 96wx-bdlc" style="border-color: rgb(0, 187, 236) rgb(0, 187, 236) rgba(247, 97, 147, 0.972549) rgba(247, 97, 147, 0.972549); width: 1.5em; height: 16px; border-bottom-width: 0.4em; border-left-width: 0.4em; border-bottom-style: solid; border-left-style: solid; float: left; max-width: 100%; box-sizing: border-box !important;"></section>
            <section class="96wx-bdrc 96wx-bdbc" style="border-color: rgb(0, 187, 236) rgba(247, 97, 147, 0.972549) rgba(247, 97, 147, 0.972549) rgb(0, 187, 236); width: 1.5em; height: 16px; border-right-width: 0.4em; border-bottom-width: 0.4em; border-right-style: solid; border-bottom-style: solid; float: right; max-width: 100%; box-sizing: border-box !important;"></section>
          </section>
        </fieldset>
      </section>
      <p style="text-align: center;"><img width="100%" src="images/1.jpg" title="1459153254678072765.jpg" alt="1.jpg"></p>
      <section class="wx96Diy" data-source="bj.96weixin.com" style="white-space: normal;">
        <fieldset style="margin: 0.5em 0px; padding: 0px; border: 0px currentcolor; color: rgb(68, 68, 68); line-height: 25px; font-family: 微软雅黑; max-width: 100%; background-color: rgb(255, 255, 255); box-sizing: border-box !important;">
          <section style="height: 1em; max-width: 100%; box-sizing: border-box;">
            <section class="96wx-bdtc 96wx-bdlc" style="border-color: rgba(247, 97, 147, 0.972549) rgb(0, 187, 236) rgb(0, 187, 236) rgba(247, 97, 147, 0.972549); width: 1.5em; height: 16px; border-top-width: 0.4em; border-left-width: 0.4em; border-top-style: solid; border-left-style: solid; float: left; max-width: 100%; box-sizing: border-box !important;"></section>
            <section class="96wx-bdtc 96wx-bdrc" style="border-color: rgba(247, 97, 147, 0.972549) rgba(247, 97, 147, 0.972549) rgb(0, 187, 236) rgb(0, 187, 236); width: 1.5em; height: 16px; border-top-width: 0.4em; border-right-width: 0.4em; border-top-style: solid; border-right-style: solid; float: right; max-width: 100%; box-sizing: border-box !important;"></section>
          </section>
          <section class="96wx-bdc" style="margin: -0.8em 0.1em -0.8em 0.2em; padding: 0.8em; border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; border: 1px solid rgba(247, 97, 147, 0.972549); max-width: 100%; box-sizing: border-box;">
            <p style="margin: 0px; padding: 0px; border: currentcolor; text-align: center; line-height: 1.4; font-family: inherit; font-size: 1em; text-decoration: inherit; max-width: 100%; text-indent: 2em; box-sizing: border-box !important; background-image: none;"><span style="font-family: 宋体, SimSun; font-size: 18px; background-color: rgb(255, 255, 255); text-indent: 32px; line-height: 32px; color: rgb(0, 0, 0);">国内专业的心血管医生患者服务平台，为心血管疾病人群提供</span><span style="font-family: 宋体, SimSun; font-size: 18px; background-color: rgb(255, 255, 255); text-indent: 32px; line-height: 32px; color: rgb(192, 80, 77);"><strong>预</strong><strong>防疾</strong><strong>病</strong>、<span style="font-family: 宋体, SimSun; font-size: 18px; background-color: rgb(255, 255, 255); text-indent: 32px; line-height: 32px; color: rgb(192, 80, 77);"><strong>控制疾病</strong></span>、
              <span
                style="font-family: 宋体, SimSun; font-size: 18px; background-color: rgb(255, 255, 255); text-indent: 32px; line-height: 32px; color: rgb(192, 80, 77);"><strong>健康管理</strong></span>、<span style="font-family: 宋体, SimSun; font-size: 18px; background-color: rgb(255, 255, 255); text-indent: 32px; line-height: 32px; color: rgb(192, 80, 77);"><strong>省心省钱的服务</strong></span>。</span>
            </p>
          </section>
          <section style="height: 1em; max-width: 100%; box-sizing: border-box;">
            <section class="96wx-bdbc 96wx-bdlc" style="border-color: rgb(0, 187, 236) rgb(0, 187, 236) rgba(247, 97, 147, 0.972549) rgba(247, 97, 147, 0.972549); width: 1.5em; height: 16px; border-bottom-width: 0.4em; border-left-width: 0.4em; border-bottom-style: solid; border-left-style: solid; float: left; max-width: 100%; box-sizing: border-box !important;"></section>
            <section class="96wx-bdrc 96wx-bdbc" style="border-color: rgb(0, 187, 236) rgba(247, 97, 147, 0.972549) rgba(247, 97, 147, 0.972549) rgb(0, 187, 236); width: 1.5em; height: 16px; border-right-width: 0.4em; border-bottom-width: 0.4em; border-right-style: solid; border-bottom-style: solid; float: right; max-width: 100%; box-sizing: border-box !important;"></section>
          </section>
        </fieldset>
      </section>
      <p style="text-align: center;"><img width="100%" src="images/2.jpg" title="1459153267308030006.jpg" alt="2.jpg"></p>
      <section class="wx96Diy" data-source="bj.96weixin.com">
        <section class="96wxDiy" style="clear: both; position: relative; width: 100%; margin: 0px auto; overflow: hidden;">
          <section style="text-align: center; margin-top: 1em;">
            <section class="96wx-bdtc 96wx-bdbc" style="border-top-width: 2px; border-top-style: solid; border-top-color: rgba(49, 201, 70, 0.972549); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgba(49, 201, 70, 0.972549); padding: 4px 10px 4px 0px; display: inline-block;">
              <section style="display: inline-block; float: left; width:60px;background-color: rgb(254,254,254);margin-top: -6px;">
                <section style="display: table; width: 100%; color: inherit; border-color: rgb(72, 192, 163);">
                  <section style="display: table-cell;line-height:1em;">
                    <p class="96wx-color" style="font-size: 42px; margin-top: 0px; margin-bottom: 0px; color: rgba(49, 201, 70, 0.972549);"><span style="color: rgb(192, 80, 77);"><strong><span style="color: rgb(192, 80, 77); font-family: 宋体, SimSun; font-size: 36px;">1</span></strong>
                      </span>
                    </p>
                  </section>
                </section>
              </section>
              <section style="color: rgb(72, 192, 163);float: left;">
                <p class="96wx-color" style="color: rgba(49, 201, 70, 0.972549); font-size: 18px; margin-top: 0px; margin-bottom: 0px;"><span style="font-size: 20px; color: rgb(192, 80, 77);"><strong><strong style="font-family: 宋体, SimSun; text-align: center; white-space: normal; background-color: rgb(248, 247, 245); font-size: 14px; line-height: 21px;"><span style="font-size: 14pt; line-height: 32px; font-family: 微软雅黑, sans-serif; text-indent: 36px;">专业心血管知识，帮您预防疾病</span></strong>
                  </strong>
                  </span>
                </p>
              </section>
            </section>
          </section>
        </section>
      </section>
      <p style="text-align: center;"><img width="100%" src="images/3.jpg" alt="3.jpg"></p>
      <section class="wx96Diy" data-source="bj.96weixin.com">
        <section class="96wxDiy" style="clear: both; position: relative; width: 100%; margin: 0px auto; overflow: hidden;">
          <section style="text-align: center; margin-top: 1em;">
            <section class="96wx-bdtc 96wx-bdbc" style="border-top-width: 2px; border-top-style: solid; border-top-color: rgba(49, 201, 70, 0.972549); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgba(49, 201, 70, 0.972549); padding: 4px 10px 4px 0px; display: inline-block;">
              <section style="display: inline-block; float: left; width:60px;background-color: rgb(254,254,254);margin-top: -6px;">
                <section style="display: table; width: 100%; color: inherit; border-color: rgb(72, 192, 163);">
                  <section style="display: table-cell;line-height:1em;">
                    <p class="96wx-color" style="font-size: 42px; margin-top: 0px; margin-bottom: 0px; color: rgba(49, 201, 70, 0.972549);"><span style="color: rgb(192, 80, 77);"><strong>2</strong></span></p>
                  </section>
                </section>
              </section>
              <section style="color: rgb(72, 192, 163);float: left;">
                <p class="96wx-color" style="color: rgba(49, 201, 70, 0.972549); font-size: 18px; margin-top: 0px; margin-bottom: 0px;"><span style="font-size: 20px; color: rgb(192, 80, 77);"><strong><strong style="font-family: 宋体, SimSun; text-align: center; white-space: normal; background-color: rgb(248, 247, 245); color: rgb(0, 176, 80); font-size: 14px; line-height: 21px;"><span style="font-size: 14pt; color: rgb(192, 80, 77); line-height: 32px; font-family: 微软雅黑, sans-serif; text-indent: 36px;">帮您评估病情，提供健管理方案</span></strong>
                  </strong>
                  </span>
                </p>
              </section>
            </section>
          </section>
        </section>
      </section>
      <p style="text-align: center;"><img width="100%" src="images/4.jpg" title="1459153298218010913.jpg" alt="4.jpg"></p>
      <section class="wx96Diy" data-source="bj.96weixin.com">
        <section class="96wxDiy" style="clear: both; position: relative; width: 100%; margin: 0px auto; overflow: hidden;">
          <section style="text-align: center; margin-top: 1em;">
            <section class="96wx-bdtc 96wx-bdbc" style="border-top-width: 2px; border-top-style: solid; border-top-color: rgba(49, 201, 70, 0.972549); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgba(49, 201, 70, 0.972549); padding: 4px 10px 4px 0px; display: inline-block;">
              <section style="display: inline-block; float: left; width:60px;background-color: rgb(254,254,254);margin-top: -6px;">
                <section style="display: table; width: 100%; color: inherit; border-color: rgb(72, 192, 163);">
                  <section style="display: table-cell;line-height:1em;">
                    <p class="96wx-color" style="font-size: 42px; margin-top: 0px; margin-bottom: 0px; color: rgba(49, 201, 70, 0.972549);"><span style="color: rgb(192, 80, 77);"><strong>3</strong></span></p>
                  </section>
                </section>
              </section>
              <section style="color: rgb(72, 192, 163);float: left;">
                <p class="96wx-color" style="color: rgba(49, 201, 70, 0.972549); font-size: 18px; margin-top: 0px; margin-bottom: 0px;"><span style="font-size: 20px; color: rgb(192, 80, 77);"><strong><strong style="font-family: 宋体, SimSun; text-align: center; white-space: normal; background-color: rgb(248, 247, 245); color: rgb(0, 176, 80); font-size: 14px; line-height: 21px;"><span style="font-size: 14pt; color: rgb(192, 80, 77); line-height: 32px; font-family: 微软雅黑, sans-serif; text-indent: 36px;">帮您解决部分挂号、预约床位等问题</span></strong>
                  </strong>
                  </span>
                </p>
              </section>
            </section>
          </section>
        </section>
      </section>
      <p style="text-align: center;"><img width="100%" src="images/5.jpg" title="1459153307568007202.jpg" alt="5.jpg"></p>
      <section class="wx96Diy" data-source="bj.96weixin.com">
        <section class="96wxDiy" style="clear: both; position: relative; width: 100%; margin: 0px auto; overflow: hidden;">
          <section style="text-align: center; margin-top: 1em;">
            <section class="96wx-bdtc 96wx-bdbc" style="border-top-width: 2px; border-top-style: solid; border-top-color: rgba(49, 201, 70, 0.972549); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgba(49, 201, 70, 0.972549); padding: 4px 10px 4px 0px; display: inline-block;">
              <section style="display: inline-block; float: left; width:60px;background-color: rgb(254,254,254);margin-top: -6px;">
                <section style="display: table; width: 100%; color: inherit; border-color: rgb(72, 192, 163);">
                  <section style="display: table-cell;line-height:1em;">
                    <p class="96wx-color" style="font-size: 42px; margin-top: 0px; margin-bottom: 0px; color: rgba(49, 201, 70, 0.972549);"><span style="color: rgb(192, 80, 77);"><strong>4</strong></span></p>
                  </section>
                </section>
              </section>
              <section style="color: rgb(72, 192, 163);float: left;">
                <p class="96wx-color" style="color: rgba(49, 201, 70, 0.972549); font-size: 18px; margin-top: 0px; margin-bottom: 0px;"><span style="font-size: 20px; color: rgb(192, 80, 77);"><strong><strong style="font-family: 宋体, SimSun; text-align: center; white-space: normal; background-color: rgb(248, 247, 245); color: rgb(0, 176, 80); font-size: 14px; line-height: 21px;"><span style="font-size: 14pt; color: rgb(192, 80, 77); line-height: 32px; font-family: 微软雅黑, sans-serif; text-indent: 36px;">与医生在线交流，随时知晓医生公告</span></strong>
                  </strong>
                  </span>
                </p>
              </section>
            </section>
          </section>
        </section>
      </section>
      <p style="text-align: center;"><img width="100%" src="images/6.jpg" title="1459153339547068161.jpg" alt="6.jpg"></p>
      <section class="wx96Diy" data-source="bj.96weixin.com">
        <section class="96wxDiy" style="clear: both; position: relative; width: 100%; margin: 0px auto; overflow: hidden;">
          <section style="text-align: center; margin-top: 1em;">
            <section class="96wx-bdtc 96wx-bdbc" style="border-top-width: 2px; border-top-style: solid; border-top-color: rgba(49, 201, 70, 0.972549); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgba(49, 201, 70, 0.972549); padding: 4px 10px 4px 0px; display: inline-block;">
              <section style="display: inline-block; float: left; width:60px;background-color: rgb(254,254,254);margin-top: -6px;">
                <section style="display: table; width: 100%; color: inherit; border-color: rgb(72, 192, 163);">
                  <section style="display: table-cell;line-height:1em;">
                    <p class="96wx-color" style="font-size: 42px; margin-top: 0px; margin-bottom: 0px; color: rgba(49, 201, 70, 0.972549);"><span style="color: rgb(192, 80, 77);"><strong>5</strong></span></p>
                  </section>
                </section>
              </section>
              <section style="color: rgb(72, 192, 163);float: left;">
                <p class="96wx-color" style="color: rgba(49, 201, 70, 0.972549); font-size: 18px; margin-top: 0px; margin-bottom: 0px;"><span style="font-size: 20px; color: rgb(192, 80, 77);"><strong><strong style="font-family: 宋体, SimSun; text-align: center; white-space: normal; background-color: rgb(248, 247, 245); color: rgb(0, 176, 80); font-size: 14px; line-height: 21px;"><span style="font-size: 14pt; color: rgb(192, 80, 77); line-height: 32px; font-family: 微软雅黑, sans-serif; text-indent: 36px;">专业家用医疗设备，帮您省心省钱</span></strong>
                  </strong>
                  </span>
                </p>
              </section>
            </section>
          </section>
        </section>
      </section>
      <p style="text-align: center;"><img width="100%" src="images/7.jpg" title="1459153349288023825.jpg" alt="7.jpg"></p>
      <p style="text-align: center;"><img  width="100%"src="images/8.jpg" title="1459152956127075944.jpg" alt="底图.jpg"></p>
      <p>
        <br>
      </p>
      <p style="text-align: center;">
        <a href="http://m.e-care365.com" target="_self"><img src="http://work.e-care365.com/hospital/ueditor/jsp/upload/image/20160325/1458886026866064381.png" title="1458724364107051033.png" alt="1458724364107051033.png" width="100" height="100" style="width: 100px; height: 100px;" border="0" vspace="0"></a>&nbsp;&nbsp;&nbsp;
        <a href="http://m.e-care365.com/#/textcontent/310" target="_self"><img src="http://work.e-care365.com/hospital/ueditor/jsp/upload/image/20160323/1458724907828003676.png" title="1458724907828003676.png" alt="1458724907828003676.png" width="100" height="100" border="0" vspace="0" style="width: 100px; height: 100px;"></a>
      </p>
    </p>

  </ion-content>
</ion-view>
