<style media="screen">
  .homeFont {
    font-size: 12px;
  }

  .button-bar>.button {
    padding: 0 10px !important;
  }
  .slider-pager{
    padding-top:10px !important;
  }


</style>
<ion-view view-title="乐柏健康-心血管健康服务平台，移动医疗助力慢病管理" cache-view='false' hide-nav-bar="isNavBarHide">
  <ion-content has-bouncing="true" scrollbar-x="false">
    <!--首页轮播图-->
    <ion-slide-box ng-if="data.length > 0" auto-play="true" does-continue="true">
      <ion-slide ng-repeat="item in data" ng-click="goToActivity(item.id, item.linkUrl)">
        <div class="box blue"><img ng-src={{item.coverImageUrl}} width="100%" height="160px"/></div>
      </ion-slide>
    </ion-slide-box>

    <!-- <div style="padding:10px;" ng-click="static()">

      <img class="img-responsive" style="width:100%" ng-src="images/506.pic_hd.jpg" />

    </div> -->

    <!--二级大图-->
    <!--核心功能-->
    <div class="row" id="core-three">
      <div class="col">
        <div class="button-bar height100">
          <a class="button border" href="#/binddoctor">
            <i class="icon">
                            <img  src="images/bangding.png" alt=""/>
                        </i>

            <p class="homeFont">绑定医生</p>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="button-bar height100">
          <button ng-click="goMyDoctor()" class="button border">
            <i class="icon">
                            <img src="images/yisheng.png" alt=""/>
                        </i>

            <p class="homeFont">我的医生</p>
          </button>
        </div>
      </div>
      <div class="col">
        <div class="button-bar height100">
          <a class="button border" href="#/xinyuan">
            <i class="icon">
                            <img style="height:58px;width:48px;" src="images/xinyuan1.png" alt=""/>
                        </i>

            <p class="homeFont">发表心愿</p>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="button-bar height100">
          <a class="button border" href="#/jilu">
            <i class="icon">
                            <img style="margin-top:-7px;height:73px;width:52px;" src="images/newjilu1.png" alt=""/>
                        </i>

            <p style="margin-top:-8px;" class="homeFont">健康记录</p>
          </a>
        </div>
      </div>
    </div>

    <div ng-if="isNew">
      <div class="divider"></div>
      <ion-list class="list" ng-if="isLogin">
        <ion-item class="item item-divider white">
          <span class="matches">最新回复</span>
        </ion-item>
        <ion-item style="padding-bottom:10px;padding-right:10px" class="item item-avatar" href="#" ng-repeat="item in newChat" ui-sref="chart({id:item.toUserID})">
          <img ng-if="item.profileImageUrl!=null" ng-src={{item.profileImageUrl}} onerror="this.src='./images/1.pic.jpg'" />
          <img ng-if="item.profileImageUrl==null" ng-src='./images/1.pic.jpg' />
          <div>
            <span>{{item.name}}</span>
            <span class="small fk-side" style="font-size:12px">已绑定</span>
            <span class="gray">{{item.timePointStr}}</span>
          </div>
          <p><span class="highlight">回复:</span><span>{{item.toChat}}</span></p>
        </ion-item>



        <!--回复方式二 -->

        <ion-item class="item item-avatar" ng-repeat="item in newRemark | limitTo:3" ui-sref="discoverdetailv({id:item.id, remarkId:item.remarkList[$index].remarkId})">
          <img ng-if="item.remarkList[0].remarkUserProfile!=null" ng-src={{item.remarkList[0].remarkUserProfile}} onerror="this.src='./images/1.pic.jpg'" />
          <img ng-if="item.remarkList[0].remarkUserProfile==null" ng-src='./images/1.pic.jpg' />
          <div>
            <span>{{item.name}}</span>
            <span class="gray">{{item.postTime}}</span>
          </div>
          <p class="wish">
            <span class="init">
                    {{item.content}}
                </span>
          </p>

          <p class="wishes">
            <span>{{item.remarkList[0].remarkUserName}}</span>
            <span class="highlight">回复</span>
            <span class="init">
                    {{item.remarkList[0].remark}}
                </span>
          </p>
        </ion-item>
        <!-- 心愿 -->
        <ion-item class="item item-avatar" ng-click="readWish(item)" ng-repeat="item in wishContent">
          <img src={{item.patientProfileImageUrl}} onerror="this.src='./images/1.pic.jpg'">
          <h2>{{item.patientName}}</h2>
          <p>{{item.postTime}}</p>
          <p class="xinyuanTag" ng-if="item.isComeTrue==1">
            <span>心愿成真</span>
          </p>

          <p>
            {{item.wishContent}}
          </p>
          <p class="xinyuanRemark" style="white-space:normal;overflow:hidden;background-color:#F0F5FA;color:#666;padding:10px 10px;border-radius:10px">
            回复
            <br/> {{item.remark}}
            <br/>
            <span style="float:right">{{item.remarkTime}}</span>
          </p>
        </ion-item>

        <!-- 公告 -->
        <ion-item ng-if="anns.length>0" class="item-avatar-left" ng-click="goAnn()">
          <p>
            您的医生，发布了新的公告，请查看
          </p>
          <!-- <img ng-src={{item.imageUrl}}/>
          <div>
            <span>{{item.name}}</span>
            <span class="small fk-side">已绑定</span>
            <span class="gray">{{item.postTime}}</span>
          </div>
          <p>{{item.content}}</p> -->
        </ion-item>



      </ion-list>
    </div>

    <!--心愿墙 完成-->
    <ion-list class="list" ng-if="wishes.length!=0">
      <div class="divider"></div>
      <ion-item class="item item-divider white">
        <span class="matches">心愿墙</span>
      </ion-item>
      <ion-item style="padding-bottom:10px;padding-right:10px" class="item item-avatar" href="#/wishwall" ng-repeat='wish in wishes'>
        <img src="{{wish.patientProfileImageUrl}}" alt="用户头像" onerror="this.src='./images/1.pic.jpg'" />

        <div style="margin-bottom:10px">
          <span>{{wish.patientName}}</span>
          <span style="font-size:12px" class="small fk-side">心愿成真</span>
        </div>
        <p class="init">
          {{wish.content}}
        </p>

        <p class="text-right fk-side">{{wish.postTime}}</p>
      </ion-item>
    </ion-list>
    <div class="divider"></div>
    <!--心愿墙 end-->


    <!--养心讲堂 start-->
    <!-- <div class="divider" ng-if="isLogin"></div> -->
    <ion-list class="list">
      <div class="item item-divider white">
        <h2><span class="matches">养心讲堂</span></h2>
      </div>
      <div ng-if="item.illType!=1&&item.illType!=2" style="padding-top: 0; padding-bottom: 0;" ng-repeat="item in healthLecture" ng-click="goToActivity(item.id,item.linkUrl)">

        <!-- <div class="item item-thumbnail-left">
          <img style="margin-top:10px;width:90px;height:65px" ng-src={{item.coverImageUrl}}>
          <h2 style="margin-top:10px;white-space:normal;">{{item.title}}</h2>
          <p style="margin-top:10px;margin-left:5px"> {{item.postTime}}</p>
          <a class="fr gray">
            <i class="icon ion-chatbubble-working">
              </i>
            <span class="verticalbt">{{item.remarkCount}}</span>
          </a>
        </div> -->
        <div style="" class="item item-thumbnail-left"  ng-click="go(item)">
          <img style="margin-top:10px;max-width:90px;max-height:65px" ng-src={{item.coverImageUrl}}>
          <h2 style="white-space:normal;margin-top:10px">{{item.title}}</h2>
          <p style="margin-top:10px;margin-left:5px"> {{item.postTime}}</p>
          <a ng-if="item.category!=6" class="fr gray">
              <i class="icon ion-chatbubble-working">
              </i>
              <span class="verticalbt">{{item.remarkCount}}</span>
          </a>
        </div>
        <div class="divider"></div>
      </div>
    </ion-list>
    <!--养心讲堂 end-->


    <!--健康评估 start-->
    <!--
        <div class="padding">
            <button class="button button-block button-balanced">健康评估</button>
        </div>
        -->
    <!--健康评估 end-->

    <ion-infinite-scroll ng-if="more==true" on-infinite="loadMore()" distance="1%" immediate-check='false'>
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
