<ion-view view-title="首页">
    <ion-content>
        <!--首页轮播图-->
        <ul rn-carousel rn-carousel-auto-slide class="image" style="height:200px; width: 100%;">
            <li><img src="images/1.jpg" alt=""/><span></span></li>
            <li><img src="images/2.jpg" alt=""/><span></span></li>
        </ul>
        <!--二级大图-->
        <!--核心功能-->
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a class="button">
                        <i class="icon ion-star"></i>
                        <p>绑定医生</p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="button-bar">
                    <a class="button">
                        <i class="icon ion-star"></i>
                        <p>我是医生</p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="button-bar">
                    <a class="button">
                        <i class="icon ion-star"></i>
                        <p>发表心愿</p>
                    </a>
                </div>
            </div>
        </div>
        <!--最新回复(此处的ion-item后续需要ng-repeat动态绑定)-->
        <ion-list class="list">
            <ion-item class="item item-divider">
                <span class="matches">最新回复</span>
            </ion-item>
            <!--回复方式一-->
            <ion-item class="item item-avatar" href="#">
                <img src="" alt="用户头像"/>
                <div>
                    <span>用户姓名</span>
                    <span class="small">已绑定</span>
                    <span class="gray">2015年12月28年</span>
                </div>
                <p><span class="highlight">回复:</span><span>祝您平安喜乐</span></p>
            </ion-item>
            <!--回复方式二-->
            <ion-item class="item item-avatar" href="#">
                <img src="" alt="用户头像"/>
                <div>
                    <span>用户姓名</span>
                    <span class="gray">2015年12月28年</span>
                </div>
                <p class="wish">
                    <span class="init">
                    我想怎么怎么着我想怎么怎么着
                    我想怎么怎么着我想怎么怎么着
                    我想怎么怎么着我想怎么怎么着
                    </span>
                </p>
                <p class="wishes">
                    <span class="highlight">心血管系统</span>
                    <span class="init">
                        你想怎么着就怎么着你想怎么着就怎么着
                        你想怎么着就怎么着你想怎么着就怎么着
                        你想怎么着就怎么着你想怎么着就怎么着
                    </span>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>