<ion-view view-title="首页-乐柏健康" cache-view='false' hide-nav-bar="isNavBarHide">
    <ion-content has-bouncing="true">
        <!--首页轮播图-->
        <ion-slide-box ng-if="data.length > 0" auto-play="true" does-continue="true">
            <ion-slide ng-repeat="item in data" ng-click="goToActivity(item.id, item.linkUrl)">
                <div class="box blue"><img ng-src={{item.coverImageUrl}} width="100%" height="200px"/></div>
            </ion-slide>
        </ion-slide-box>

        <div style="padding:10px;" ng-click="static()">
            <img class="img-responsive" style="width:100%" ng-src="images/111.png" alt="111.png"/>
        </div>

        <!--二级大图-->
        <!--核心功能-->
        <div class="row" id="core-three">
            <div class="col">
                <div class="button-bar height100">
                    <a class="button border" href="#/binddoctor">
                        <i class="icon">
                            <img src="images/bangding.png" alt=""/>
                        </i>

                        <p>绑定医生</p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="button-bar height100">
                    <button ng-click="goMyDoctor()" class="button border">
                        <i class="icon">
                            <img src="images/tongxiang.png" alt=""/>
                        </i>

                        <p>我的医生</p>
                    </button>
                </div>
            </div>
            <div class="col" >
                <div class="button-bar height100">
                    <a class="button border" href="#/xinyuan">
                        <i class="icon">
                            <img src="images/xinyuan1.png" alt=""/>
                        </i>

                        <p>发表心愿</p>
                    </a>
                </div>
            </div>
        </div>

        <div ng-if="isNew">
        <div class="divider"></div>
        <ion-list class="list" ng-if="isLogin">
            <ion-item class="item item-divider white">
                <span class="matches">最新回复</span>
            </ion-item>
            <ion-item class="item item-avatar" href="#" ng-repeat="item in newChat" ui-sref="chart({id:item.toUserID})">
                <img ng-src={{item.profileImageUrl}} alt=""/>
                <div>
                    <span>{{item.name}}</span>
                    <span class="small fk-side">已绑定</span>
                    <span class="gray">{{item.timePoint}}</span>
                </div>
                <p><span class="highlight">回复:</span><span>{{item.toChat}}</span></p>
            </ion-item>
        </div>
        <!--回复方式二 涉及到心愿墙，一期不做-->

        <ion-item class="item item-avatar" ng-repeat="item in newRemark | limitTo:3" ui-sref="discoverdetailv({id:item.id, remarkId:item.remarkList[$index].remarkId})">
            <img src={{item.profileImageUrl}} alt=""/>
            <div>
                <span>{{item.name}}</span>
                <span class="gray">{{item.postTime}}</span>
            </div>
            <p class="wish">
                <span class="init">
                    {{item.content}}
                </span>
            </p>

            <p class="wishes">
                <span>{{item.remarkList[0].remarkUserName}}</span>
                <span class="highlight">回复</span>
                <span class="init">
                    {{item.remarkList[0].remark}}
                </span>
            </p>
        </ion-item>
        <!--  </ion-list>-->
        <!--心愿墙 start 二期内容暂时隐藏-->
        <!--  <ion-list class="list" ng-if="false">
              <ion-item class="item item-divider">
                  <span class="matches">心愿墙</span>
              </ion-item>
              <ion-item class="item item-avatar" href="#/wishwall">
                  <img src="images/tongxiang.png" alt="用户头像"/>

                  <div>
                      <span>用户姓名</span>
                      <span class="small">心愿成真</span>
                  </div>
                  <p class="init">
                      祝您平安喜乐祝您平安喜乐
                  </p>

                  <p class="text-right">2015年12月20日</p>
              </ion-item>
        <!--心愿墙 end-->
        </ion-list>

        <!--养心讲堂 start-->
        <div class="divider" ng-if="isLogin"></div>
        <div class="list">
            <div class="item item-divider white">
                <h2><span class="color_blue">|</span> <span>养心讲堂</span></h2>
            </div>
            <!--<div class="slim clearfix"></div>-->
            <div class="item item-body" style="padding-top: 0; padding-bottom: 0;"
                 ng-repeat="item in healthLecture" ng-click="goToActivity(item.id,item.linkUrl)">
                <h2>{{item.title}}</h2>
                <img class="full-image" ng-src={{item.coverImageUrl}}>

                <div class="clearfix mtb10">
                    <span class="fl gray">{{item.postTime}}</span>
                    <span class="fr gray">
                        <i class="ion-chatbubble-working">
                        </i>
                        <span class="verticalbt">
                            {{item.remarkCount}}
                        </span>
                    </span>
                </div>
                <div class="divider fullborder"></div>
            </div>
        </div>
        <!--养心讲堂 end-->


        <!--健康评估 start-->
        <!--
        <div class="padding">
            <button class="button button-block button-balanced">健康评估</button>
        </div>
        -->
        <!--健康评估 end-->
    </ion-content>
</ion-view>
