<style>
/*.fc-state-highlight{
  color:#fff !important;
}*/
</style>
<ion-header-bar class="bar-balanced">
  <gohistory></gohistory>
  <h1 class="title">健康记录</h1>
  <button class="button" ui-sref="jilu_details">记录</button>
</ion-header-bar>
<ion-content start-y="0" has-bouncing="true">
  <div ui-calendar="uiConfig.calendar" ng-model="eventSources" data-tap-disabled="true"></div>
  <ion-item>
    <span>血压</span>
    <span ng-if="!isXueYa" style="float:right" ng-click="jilu('xueya')">记录</span>
    <span ng-if="isXueYa" style="float:right" ng-click="jilu('xueya')">{{lu.high}}/{{lu.low}}mmHg</span>
    <!-- <button type="button" name="button"></button> -->
  </ion-item>
  <ion-item>
    <span>体重</span>
    <span ng-if="!isTizhong" style="float:right" ng-click="jilu('tizhong')">记录</span>
    <span ng-if="isTizhong" style="float:right" ng-click="jilu('tizhong')">{{lu.tizhong/10}}kg</span>
  </ion-item>
  <ion-item>
    <span>心率</span>
    <span ng-if="!isXinlv" style="float:right" ng-click="jilu('xinlv')">记录</span>
    <span ng-if="isXinlv" style="float:right" ng-click="jilu('xinlv')">{{lu.xinlv}}次/分钟</span>
  </ion-item>
</ion-content>

<!--血压记录弹窗 -->
<script id="xueya.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <a class="button icon ion-chevron-left" ng-click="closeModal()"></a>
      <h1 class="title">记录血压</h1>
      <a class="button" ng-click="saveXueYa()">保存</a>
    </ion-header-bar>
    <ion-content>
      <ion-item>
        <h2>高压:{{lu.high}} mmHg</h2>
        <div class="range">
          70
          <input type="range" ng-model="lu.high" min='70' max='200'> 200
        </div>
      </ion-item>

      <ion-item>
        <h2>低压:{{lu.low}} mmHg</h2>
        <div class="range">
          40
          <input type="range" ng-model="lu.low" min='40' max='180'> 180
        </div>
      </ion-item>

    </ion-content>
  </ion-modal-view>
</script>

<!--体重弹窗 -->
<script id="tizhong.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <a class="button icon ion-chevron-left" ng-click="closeModal()"></a>
      <h1 class="title">记录体重</h1>
      <a class="button" ng-click="saveTizhong()">保存</a>
    </ion-header-bar>
    <ion-content>
      <ion-item>
        <h2>体重:{{lu.tizhong/10}} kg</h2>
        <div class="range">
          30kg
          <input type="range" ng-model="lu.tizhong" min='300' max='1200'> 120kg
        </div>
      </ion-item>

    </ion-content>
  </ion-modal-view>
</script>

<!--心率 -->
<script id="xinlv.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <a class="button icon ion-chevron-left" ng-click="closeModal()"></a>
      <h1 class="title">记录心率</h1>
      <a class="button" ng-click="saveXinlv()">保存</a>
    </ion-header-bar>
    <ion-content>
      <ion-item>
        <h2>心率:{{lu.xinlv}} 次/分钟</h2>
        <div class="range">
          30
          <input type="range" ng-model="lu.xinlv" min='30' max='200'> 200
        </div>
      </ion-item>

    </ion-content>
  </ion-modal-view>
</script>
