<style>

</style>
<ion-view view-title="心率-乐柏健康" cache-view="false">
  <ion-header-bar class="bar-balanced">
    <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
    <h1 class="title">心率记录详情</h1>
  </ion-header-bar>
  <ion-content>
    <ul class="list">

      <li ng-if="item.xinlv!=null" class="item item-icon-right" ng-repeat="item in items.jilus">
        <div  >
          <div class="">
            心率：{{item.xinlv}}kg
          </div>

          <div class="" style="margin-top:5px;">
            {{item.dayStr}}
          </div>
        </div>
      </li>

    </ul>
  </ion-content>
</ion-view>
