<ion-view view-title="知识" cache-view='false' hide-nav-bar="isNavBarHide">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">知识</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <!--栏目静态html测试区域 start-->
        <div>
            <div class="no-padding mian-wrap clearfix">
                <div class="no-padding col50">
                    <div class="list">
                        <a href="#/threekiller" class="item item-icon-left pl noborder slim">
                            <i class="icon">
                                <img src="images/sangao.png" alt="" width="60"/>
                            </i>
                            三高
                        </a>
                    </div>
                </div>
                <div class="no-padding col50">
                    <div class="list">
                        <a href="#/guanxinbing" class="item item-icon-left pl noborder slim">
                            <i class="icon">
                                <img src="images/guanxinbing.png" alt="" width="60"/>
                            </i>
                            冠心病
                        </a>
                    </div>
                </div>
                <div class="slim clearfix"></div>
                <div class="no-padding col50">
                    <div class="list">
                        <a href="#xinjigengse" class="item item-icon-left pl noborder">
                            <i class="icon">
                                <img src="images/xinjigengsi.png" alt="" width="60"/>
                            </i>
                            心肌梗塞
                        </a>
                    </div>
                </div>
                <div class="no-padding col50">
                    <div class="list">
                        <a href="#xinlishuaijie" class="item item-icon-left pl noborder">
                            <i class="icon">
                                <img src="images/xinlishuaijie.png" alt="" width="60"/>
                            </i>
                            心力衰竭
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--栏目静态html测试区域 end-->

        <!--展示card区域 start-->

        <div class="divider"></div>
        <div class="list">
            <div class="item card_h borderbgray">
                <h2>养心讲堂</h2>
            </div>
            <div class="item item-body noborder" style="padding-top: 0; padding-bottom: 0;" ng-repeat="item in data" ui-sref="textcontent({id:item.id})">
                <h3>{{item.title}}</h3>
                <img class="full-image" ng-src={{item.coverImageUrl}}>
                <div class="clearfix mtb10">
                    <span class="fl">{{item.postTime}}</span>
                    <span class="fr">
                        {{item.remarkCount}}
                    </span>
                </div>
                <div class="divider fullborder"></div>
            </div>
        </div>
        <!--展示card区域 end-->

        <!--图文混排区域 start-->
        <!--<div class="list" ng-repeat="item in data" ui-sref="textcontent({id:item.id})">
            <a class="item" href="#">
                <h2>{{item.title}}</h2>
                <img class="img-responsive" ng-src={{item.coverImageUrl}}>
              &lt;!&ndash;  <p  class="home" ng-bind-html="item.content">{{item.content}}</p>&ndash;&gt;
                <p class="col">
                    <span class="fl">{{item.postTime}}</span>
                    <span class="fr">评论数:{{item.remarkCount}}</span>
                </p>
            </a>
        </div>-->
        <!--图文混排区域 end-->
    </ion-content>
</ion-view>
