<ion-view view-title="知识" cache-view='false' hide-nav-bar="isNavBarHide">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">知识</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <!--栏目静态html测试区域 start-->
        <div class="row flex-wrap no-padding">
            <div class="col col-50 no-padding">
                <div class="list">
                    <a href="#/threekiller" class="item item-icon-left pl">
                        <i class="icon">
                            <img src="images/sangao.png" alt="" width="60"/>
                        </i>
                        三高
                    </a>
                </div>
            </div>
            <div class="col col-50 no-padding">
                <div class="list">
                    <a href="#/threekiller" class="item item-icon-left pl">
                        <i class="icon">
                            <img src="images/guanxinbing.png" alt="" width="60"/>
                        </i>
                        冠心病
                    </a>
                </div>
            </div>
            <div class="col col-50 no-padding">
                <div class="list">
                    <a href="#threekiller" class="item item-icon-left pl">
                        <i class="icon">
                            <img src="images/xinjigengsi.png" alt="" width="60"/>
                        </i>
                        心肌梗塞
                    </a>
                </div>
            </div>
            <div class="col col-50 no-padding">
                <div class="list">
                    <a href="#threekiller" class="item item-icon-left pl">
                        <i class="icon">
                            <img src="images/xinlishuaijie.png" alt="" width="60"/>
                        </i>
                        心力衰竭
                    </a>
                </div>
            </div>
        </div>
        <!--栏目静态html测试区域 end-->

        <!--展示card区域 start-->
        <div class="list card full-card">
            <div class="item item-avatar card_h">
                <h2>养心讲堂</h2>
            </div>

            <div class="item item-body" ng-repeat="item in healthLecture" ui-sref="textcontent({id:item.id})">
                <h3>{{item.title}}</h3>
                <img class="full-image" ng-src="item.coverImageUrl">

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <span class="tab-item textL" href="#">
                        {{item.postTime}}
                    </span>
                    <span class="tab-item textR" href="#">
                        <i class="icon">
                            <img src="images/pinglun.png" alt="" width="25"/>
                        </i>
                        <span>30</span>
                    </span>
                </div>
            </div>
        </div>
        <!--展示card区域 end-->

        <!--图文混排区域 start-->
        <div class="list" ng-repeat="item in healthVedio" ui-sref="textcontent({id:item.id})">
            <a class="item item-thumbnail-right" href="#">
                <img ng-src="item.coverImageUrl">

                <h2>{{item.title}}</h2>

                <p>{{item.content}}</p>

                <p>{{item.postTime}}</p>
            </a>
        </div>
        <!--图文混排区域 end-->


        <!--保存到桌面区域 start-->
        <div class="padding">
            <button class="button button-outline button-block button-balanced">
                保存到桌面
            </button>
        </div>
        <!--保存到桌面区域 end-->
    </ion-content>
</ion-view>
