<ion-view view-title="我的">
    <ion-content>
            <div class="mine-top">
                <div class="mine-button">
                    <span class="login">登录</span>
                    /
                    <span class="register">注册</span>
                </div>
                <p class="stip">登录后，为您提供更专业健康服务</p>
            </div>
        <div class="mine-options">
            <div class="option">
                    <i class="icon ion-star"></i>
                    <p>收藏</p>
            </div>
             <div class="option">
                    <i class="icon ion-star"></i>
                    <p>收藏</p>
            </div>
             <div class="option">
                    <i class="icon ion-star"></i>
                    <p>收藏</p>
            </div>
             <div class="option">
                    <i class="icon ion-star"></i>
                    <p>收藏</p>
            </div>
            <div class="option">
                    <i class="icon ion-star"></i>
                    <p>收藏</p>
            </div>
            <div class="option">
                    <i class="icon ion-star"></i>
                    <p>收藏</p>
            </div>
             <div class="option">
                    <i class="icon ion-star"></i>
                    <p>收藏</p>
            </div>
             <div class="option">
                    <i class="icon ion-star"></i>
                    <p>收藏</p>
            </div>
            <div class="option">
                    <i class="icon ion-star"></i>
                    <p>收藏</p>
            </div>

        </div>

    </ion-content>
</ion-view>
