<ion-view view-title="公告-乐柏健康" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">公告</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <ion-list can-swipe="true">
            <ion-item class="item-avatar-left" ng-repeat="item in data">
                <img ng-src={{item.imageUrl}}/>
                <div>
                    <span>{{item.name}}</span>
                    <span class="small fk-side">已绑定</span>
                    <span class="gray">{{item.postTime}}</span>
                </div>
                <p>{{item.content}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
