<ion-view view-title="个人资料" cache-view='false' hide-nav-bar="isNavBarHide">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">个人资料</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div class="list" id="personalData">


            <a class="item item-icon-right" href="#/changeicon">
                头像
                <i class="icon ion-chevron-right basefont"></i>
            </a>


            <a class="item item-icon-right" href="#/changename">
                姓名
                <span>姓名</span>
                <i class="icon ion-chevron-right basefont"></i>
            </a>


            <a class="item item-icon-right" href="#/changephone">
                手机号
                <span>13716136951</span>
                <i class="icon ion-chevron-right basefont"></i>
            </a>


            <a class="item item-icon-right" href="#/changesex">
                性别
                <span>女</span>
                <i class="icon ion-chevron-right basefont"></i>
            </a>


            <a class="item item-icon-right" href="#/changebirth">
                生日
                <span>1992-10-04</span>
                <i class="icon ion-chevron-right basefont"></i>
            </a>


            <a class="item item-icon-right" href="#/changeweight">
                体重
                <span>80kg</span>
                <i class="icon ion-chevron-right basefont"></i>
            </a>
        </div>
        <!--   <div class="padding">
               <button class="button button-balanced button-block" ng-click="saveMsg()">修改保存</button>
           </div>-->
    </ion-content>
</ion-view>