<ion-view view-title="个人资料" cache-view='false' hide-nav-bar="isNavBarHide">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">个人资料</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div class="list" id="personalData">
            <a class="item item-icon-right" href="#">
                头像
                <i class="icon ion-chevron-right basefont"></i>
                <span>{{personalData.icon}}</span>
            </a>
            <a class="item item-icon-right" href="#">
                姓名
                <span>李小明</span>
            </a>
            <a class="item item-icon-right" href="#">
                手机号
                <span>18037367631</span>
            </a>
            <label class="item item-icon-right item-input item-select" href="#">
                <div class="input-label">
                    性别
                </div>
                <!--此处需要绑定ng-change方法，当用户更新数据的时候，向服务器发送更新数据的请求-->
                <select>
                    <option selected>男</option>
                    <option>女</option>
                </select>
            </label>
            <a class="item item-icon-right" href="#">
                出生日期
                <i class="icon ion-chevron-right basefont"></i>
                <span>1992-10-04</span>
            </a>
            <a class="item item-icon-right" href="#">
                体重
                <i class="icon ion-chevron-right basefont"></i>
                <span>70kg</span>
            </a>
        </div>
    </ion-content>
</ion-view>