<ion-view view-title="发布发现" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">发布发现</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="padding">
        <textarea class="textarea" ng-model="publish.content" placeholder="这一刻的心情..."></textarea>

        <form id='publish' enctype="multipart/form-data" method="post" name="pubilshdiscover">
            <input id="publishphoto"
                   type="file"
                   accept="image/*"
                   multiple
                   image="publishphoto"
                   class="inputfile"
                   maxlength="20"
                    />
            <label for="publishphoto"></label>
            <button type="submit" form="publish" class='button button-balanced button-block' ng-click="publish(publishphoto)">发表</button>
            <img width="50" height="50" ng-repeat="img in publishphoto" title="{{img.url}}" ng-src="{{img.url}}" type="{{img.file.type}}"/>
        </form>
    </ion-content>
</ion-view>
