<ion-view view-title="登陆" cache-view='false' hide-nav-bar="isNavBarHide">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">登陆</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">手机号</span>
                <input type="text" ng-model="signInMsg.username">
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="password" ng-model="signInMsg.password">
            </label>
        </div>
        <button class="button button-block button-balanced" ng-click="signIn()">登陆</button>
    </ion-content>
</ion-view>