<ion-view view-title="登陆-乐柏健康" cache-view='false' hide-nav-bar="isNavBarHide">
    <ion-header-bar class="bar-balanced">
        <a class="button icon ion-chevron-left" href="/#/tab/home"></a>
        <h1 class="title">登陆</h1>
        <a class="button" href="#/signin">注册</a>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="signInMsg.username" placeholder="手机号">
            </label>
            <div class="item item-input">
                <label class="item-input-wrapper">
                    <input type="password" ng-model="signInMsg.password" placeholder="密码">
                </label>
                <a ui-sref="forgot_pwd" class="button-pwd button button-small button-balanced">忘记密码? </a>
            </div>
        </div>
        <button class="button button-block button-balanced" ng-click="signIn()">登陆</button>
    </ion-content>
</ion-view>
