<ion-view view-title={{data.title}}  cache-view="false" >
    <!-- <ion-nav-title>
      view-title={{data.title}}
    </ion-nav-title> -->
    <ion-header-bar class="bar-balanced">
        <!-- <a class="button icon  ion-chevron-left" href="#/tab/knowledge"></a> -->
        <gohistory></gohistory>
        <h1 class="title">{{data.title}}</h1>
        <!-- <button class="button ion-navicon middle-icon" ng-click="saveIt()"></button> -->
        <button class="button ion-navicon middle-icon" ng-click="showAction()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class='item item-text-wrap home'>
                <!-- <h2 class="mtb10">{{data.title}}</h2> -->
                <!-- <p>
                  <button ng-click='shareWeibo()'>分享到微博</button>
              <button ng-click='shareQzone()'>分享到QQ空间</button>
                </p> -->
               <!-- <img ng-src="{{data.coverImageUrl}}" class="img-responsive"/>-->
                <p class='home' ng-bind-html="data.content | trustHtml">
                    {{data.content}}
                </p>
            </div>


            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="我也说两句吧" ng-model="markinfo.remak">
                </label>
                <button class="button button-clear" ng-click="remark()">
                    发送
                </button>
            </div>


            <div class="item item-avatar" ng-repeat="item in data.remarkList">
                <img ng-if="item.profileImageUrl!=null" ng-src="{{item.profileImageUrl}}" onerror="this.src='./images/1.pic.jpg'">
                <img ng-if="item.profileImageUrl==null" ng-src="./images/1.pic.jpg">
                <div class='commenter'>
                    <span ng-if="item.name!=null">{{item.name}}</span>
                    <span ng-if="item.name==null">ID{{item.userId}}</span>
                    <span style="margin-left: 10px ;color:rgba(0,0,0,.3)">{{item.postTime}}</span>
                </div>
                <div class="item-body pad-replate">
                    {{item.remark}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
