<ion-view view-title="内容详情" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">内容详情</h1>
        <button class="button ion-plus middle-icon" ng-click="saveIt()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class='item item-text-wrap home'>
                <h2 class="mtb10">{{data.title}}</h2>
               <!-- <img ng-src="{{data.coverImageUrl}}" class="img-responsive"/>-->
                <p class='home' ng-bind-html="data.content | trustHtml">
                    {{data.content}}
                </p>
            </div>


            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="我也说两句吧" ng-model="markinfo.remak">
                </label>
                <button class="button button-clear" ng-click="remark()">
                    发送
                </button>
            </div>


            <div class="item item-avatar" ng-repeat="item in data.remarkList">
                <img ng-src="{{item.profileImageUrl}}" onerror="this.src='./images/yisheng.png'">

                <div class='commenter'>
                    <span>{{item.name}}</span>
                    <span style="margin-left: 10px ;color:rgba(0,0,0,.3)">{{item.postTime}}</span>
                </div>
                <div class="item-body pad-replate">
                    {{item.remark}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>