<ion-view view-title="三高" cache-view="false">
  <!--   <ion-header-bar class="bar-balanced">
         <h1 class="title">三高</h1>
     </ion-header-bar>-->
    <ion-tabs class="tabs-balanced" id="tabs-top">

        <ion-tab title="心知识" href="#/threekiller/zhishi">
            <ion-nav-view name="zhishi-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="心漫画" href="#/threekiller/manhua">
            <ion-nav-view name="manhua-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="心视频" ui-sref="threekiller.shipin">
            <ion-nav-view name="shipin-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>