<ion-view title="心愿墙-乐柏健康" cache-view="false" hide-nav-bar="isNavBarHide">
  <ion-header-bar class="bar-balanced">
    <a class="button icon  ion-chevron-left" href="javascript:history.go(-1)"></a>
    <h1 class="title">心愿墙</h1>
    <!-- <button class="button ion-navicon middle-icon" ng-click="saveIt()"></button> -->
    <button class="button" ng-click="showAction()">许愿</button>
  </ion-header-bar>
  <ion-content has-bouncing="true">
    <!--心愿列表 start-->
    <ion-list class="list">
      <ion-item  class="item item-avatar" href="#/wishwall" ng-repeat='wish in wishes'>
          <img src="{{wish.patientProfileImageUrl}}" alt="用户头像" onerror="this.src='./images/1.pic.jpg'"/>

          <div class="" style="margin-right:-30px;">
              <span>{{wish.patientName}}</span>
              <span style="font-size:12px" class="small">心愿成真</span>
          </div>
          <p class="init">
              {{wish.content}}
          </p>

          <p class="text-right">{{wish.postTime}}</p>
      </ion-item>

        </ion-list>
        <!--心愿列表 end-->
    </ion-content>
</ion-view>
