<ion-view view-title="我的心愿" cache-view="false">
  <ion-header-bar class="bar-balanced">
    <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
    <h1 class="title">我的心愿-说明</h1>

  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">

        <p>
          1.每个账号每天只可以有1次许愿机会。
        </p>
        <p>
          2.预约挂号、预约床位需要提前一周进行预约。
        </p>
        <p>
          3.提交预约挂号申请后，我们会随机选取幸运用户免费帮您挂号专家，完成您的心愿。
        </p>
        <p>
          4.提交申请住院床位，我们会随机选取幸运用户，帮您安排床位，住院费用，自行在医院缴纳。
        </p>
        <p>
          5.针对幸运的用户，我们会在五个工作日内与您进行电话联系，并且帮您完成心愿。
        </p>

      </div>
    </div>

  </ion-content>
</ion-view>
