<div  view-title="我的心愿" cache-view="false" style="position:absolute; width:100%; height:100%;">
  <div  style="position:relative;" >
    <img src="../images/xinyuan_bg.jpg" height="10%" width="100%" style="z-index:-1" />
    <a class=" icon  ion-chevron-left" style="z-index:10;position:absolute;top:15px;left:5%;color:white" href="javascript:history.go(-1)" ></a>
    <span  style="font-size:20px;z-index:2;position:absolute;top:15px;left:44%;color:white">心愿</span>
    <a  style="z-index:10;position:absolute;top:15px;right:5%;color:white" ng-click="help()" >说明</a>
    <button  ng-click="fabu()" style="position:absolute;bottom:125px;width:50%;left:25%;opacity:0.6;background-color:white;" class="button button-block button-positive">
  <span style="color:green;font-weight:bold">发布心愿</span>
</button>
  </div>
</div>
