<ion-view view-title="我的心愿" cache-view="false">
  <ion-header-bar class="bar-balanced">
    <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
    <h1 class="title">我的心愿</h1>
    <button class="button" ng-click="help()">说明</button>
  </ion-header-bar>
  <ion-content class="padding">
    <button class="button button-block button-positive" ng-click="fabu()">
    发表心愿
    </button>
    <p style="text-align:center">
      心愿还是要有的，万一实现了呢？
    </p>
    <!-- <img  src="images/xinyuan.jpg"  alt="" class="img-responsive"/> -->
  </ion-content>
</ion-view>
