<ion-view view-title="我的心愿-发布" cache-view="false">
  <ion-header-bar class="bar-balanced">
    <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
    <h1 class="title">我的心愿-发布</h1>

  </ion-header-bar>
  <ion-content class="padding">
      <textarea class="textarea" ng-model="xinyuan.content" placeholder="您可以申请预约医院专家号、医院床位或申请优惠购买乐普医疗硬件..."></textarea>
      <button type="button" class='button button-balanced button-block'
              ng-click="add()">申请
      </button>
  </ion-content>
</ion-view>
