<ion-view view-title="内容详情" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">内容详情</h1>
        <button class="button ion-plus middle-icon"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class='item item-body '>
                <p class='text-indent home' ng-bind-html="zhishidetail.content">
                    {{zhishidetail.content}}
                </p>
            </div>


            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="我也说两句吧" ng-model="markinfo.remak">
                </label>
                <button class="button button-clear" ng-click="remark()">
                    发表
                </button>
            </div>


            <div class="item item-avatar" ng-repeat="item in zhishidetail.remarkList">
                <img src="./images/wode.png">

                <div class='commenter'>
                    <span>{{item.name}}</span>
                    <span>{{item.postTime}}</span>
                </div>
                <div class="item-body pad-replate">
                    {{item.remark}}
                </div>
            </div>


        </div>

    </ion-content>
</ion-view>