<ion-view view-title="内容详情-乐柏健康" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <a class="button icon ion-chevron-left" href="#/tab/knowledge"></a>
        <h1 class="title">内容详情</h1>
        <button class="button ion-plus middle-icon" ng-click="saveIt()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class='item item-text-wrap home'>
                
                <h2 class="mtb10">{{zhishidetail.title}}</h2>
                <!--<img ng-src="{{zhishidetail.coverImageUrl}}" class="img-responsive"/>-->
                <p class='home' ng-bind-html="zhishidetail.content | trustHtml">
                    {{zhishidetail.content}}
                </p>
            </div>

            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="我也说两句吧" ng-model="markinfo.remak">
                </label>
                <button class="button button-clear" ng-click="remark()">
                    发表
                </button>
            </div>


            <div class="item item-avatar" ng-repeat="item in zhishidetail.remarkList">
                <img ng-src="{{item.profileImageUrl}}">

                <div class='commenter'>
                    <span>{{item.name}}</span>
                    <span>{{item.postTime}}</span>
                </div>
                <div class="item-body pad-replate">
                    {{item.remark}}
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>
